<div *ngIf="Noevent" class="form-container text-danger">
  <h1>{{eventmsg}}</h1>
</div>
<div *ngIf="!Noevent" class="form-container">
  <form class="form-signin login-form border border-success" [formGroup]="AddActivity"
    (ngSubmit)="onSubmit(AddActivity)">
    <div class="form-group ">
      <h2>Add Activity</h2>
    </div>
    <div class="form-group mt-3 ">
      <label for="Event">Select a Event :</label>
      <select (change)="SelectDate()" name="Event" placeholder="Event Name" id="Event" formControlName="EventName">
        <option value="" disabled selected>Select Your Event</option>
        <option value={{a.EventId}} *ngFor="let a of EventList">{{a.EventName}}</option>
      </select>
      <div *ngIf="AddActivity.controls.EventName.invalid  && Submitflag ">
        <div *ngIf="AddActivity.controls.EventName.errors?.required" class="text-danger">
          Please select a event
        </div>
      </div>
    </div>
    <div class="form-group mt-3 ">
      <label for="Activity">Activity Name</label>
      <input type="Activity" class="form-control" id="Activity" placeholder="Activity Name"
        formControlName="ActivityName">
      <div *ngIf="AddActivity.controls.ActivityName.invalid && Submitflag ">
        <div *ngIf="AddActivity.controls.ActivityName.errors?.required" class="text-danger">
          Activity Name is required.
        </div>
      </div>
    </div>
    <div class="form-group mt-3 ">
      <label for="Discription">Discription</label>
      <input type="text" class="form-control" id="Discription" placeholder="Discription" formControlName="Discription">
      <div *ngIf="AddActivity.controls.Discription.invalid && Submitflag">
        <div *ngIf="AddActivity.controls.Discription.errors?.required" class="text-danger">
          Discription is required.
        </div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="Startdate">Start Date</label>
      <input type="datetime-local" [min]="mindate" [min]="currentDate" [max]="maxdate" (change)="SelectStartDate()"
        class="form-control" id="Startdate" placeholder="Start Date" formControlName="Startdate">
      <div *ngIf="AddActivity.controls.Startdate.invalid && Submitflag ">
        <div *ngIf="AddActivity.controls.Startdate.errors?.required" class="text-danger">
          Start date is required.
        </div>
      </div>
    </div>
    <div class="form-group mt-3">
      <label for="Enddate">End Date</label>
      <input type="datetime-local" [min]="mindate" [min]="currentDate" [max]="maxdate" class="form-control" id="Enddate"
        placeholder="End Date" formControlName="Enddate">
      <div *ngIf="AddActivity.controls.Enddate.invalid  && Submitflag ">
        <div *ngIf="AddActivity.controls.Enddate.errors?.required" class="text-danger">
          End date is required.
        </div>
      </div>
    </div>
    <div class="form-group d-flex justify-content-center mt-2 p-2 ">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="registerSucess" class="alert alert-success mt-3" role="alert">
      {{message}}
    </div>
  </form>
</div>