.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.imageclass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ok {
  margin: 10px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 350px;
}
th{
  background-color: #38acac;
}
